@font-face {
    font-family: 'neotech-medium';
    src: url('../../assets/fonts/neo-tech/neotech-medium.eot');
    src: url('../../assets/fonts/neo-tech/neotech-medium.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/neo-tech/neotech-medium.ttf') format('truetype'),
         url('../../assets/fonts/neo-tech/neotech-medium.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'neotech-regular';
    src: url('../../assets/fonts/neo-tech/neotech-regular.eot');
    src: url('../../assets/fonts/neo-tech/neotech-regular.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/neo-tech/neotech-regular.ttf') format('truetype'),
         url('../../assets/fonts/neo-tech/neotech-regular.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'neotech-regular';
    font-size: 13px;
}
input,select,textarea,button {
    font-family: 'neotech-regular';
}
nav ul.item {
    margin-bottom: 0px;
    padding-left:0;
    text-align: center;
    font-size: 12px;
    margin: 35px 0 65px;
    font-family: 'neotech-regular';
}
nav ul.item li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #9e9e9e;
    font-size:1em;
}
nav ul.item li {
    display: inline-block;
    width: 100px;
    position: relative;
}
nav ul.item li span {
    font-size:0.9em;
}
nav ul.item li:after {
    content: " ";
    width: 81px;
    height: 1px;
    background: #9e9e9e;
    position: absolute;
    display: block;
    right: -42px;
    bottom: 28px;
}
nav ul.item li:last-child:after {
    display: none;
}
nav ul.item li a .stepIcon {
    width:22px;
    height:22px;
    margin: 0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: block;
    margin: 15px auto 3px;
    font-size: 12px;
    color: #9e9e9e;
    line-height:31px;
    border: 1px solid #9e9e9e;
    position: relative;
}
nav ul.item li a .stepIcon::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: #719e19;
    content: '';
    opacity: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}
nav ul.item li a.selected .stepIcon {
    color: #719e19;
    border-color: #719e19;
}
nav ul.item li a.selected span {
    color: #719e19;
}
nav ul.item li a.selected .stepIcon::before {
    opacity: 1;
}
.img-wrap-bcrm {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.img-wrap-bcrm img {
    width: 100%;
}
.img-wrap-bcrm img.link {
    position: absolute;
    right: 66px;
    top: 64px;
    width: auto;
    max-width: 80px;
}
img {
    max-width: 100%;
}
.img-wrap-full {
    position: relative;
}
.img-wrap-full img {
    width: 100%;
}
.img-wrap-full .continue {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
}
.form-area {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}
.form-area .form-control {
    height: 28px;
    padding: 3px 5px;
    box-shadow: none;
    font-size: 12px;
}
.form-area h3,
h3.title-bcrm-page {
    text-align: center;
    color: #969690;
    font-family: 'neotech-regular';
    font-weight: normal;
    display: inline-block;
    padding: 0 20px 5px;
    border-bottom: 1px solid rgb(190, 190, 190);
    text-transform: uppercase;
    font-size: 18px;
}
.form-area h3 span,
h3.title-bcrm-page span {
    color: red;
    padding-left: 5px;
}
.form-area img.del{
    max-width: 17px;
    cursor: pointer;
}
.pdficon {
    max-width: 30px;
    position: relative;
}
.deletepdf {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.45);
    border: none;
    left: 0;
    color: #fff;
    font-family: 'neotech-regular';
    border-radius: 0 13px 0 0;
    opacity: 0;
    transition: all 0.25s ease;
    pointer-events: none;
}
.pdficon:hover .deletepdf {
    opacity: 1;
    pointer-events: all;
}
.form-area .table {
    margin: 25px 0;
    font-size: 12px;
    font-family: 'neotech-regular';
}
.form-area .table td,
.form-area .table th {
    vertical-align: middle;
    padding: 6px 10px;
    text-align: left;
}

.d-flex {
    text-align: left;
}
.d-flex .input-file-field {
    display: inline-block;
    width: 240px;
    font-family: 'neotech-regular';
}
.upload-section h5 {
    font-family: 'neotech-regular';
    margin: 0 0 5px;
    font-size: 12px;
    text-align: left;
}
.form-area .table thead th {
    font-family: 'neotech-medium';
    font-weight: normal;
}
.form-area .table thead tr th:nth-child(4) {
    width: 375px;
}
.form-area .table.browse-rows thead tr th:nth-child(4) {
    width: auto;
}
.form-area .btn {
    border-radius: 0;
    border: 1px solid #719e19;
    width: auto;
    max-width: 100%;
    outline: none;
    font-size: 14px;
    height: 32px;
    font-weight: 300;
    font-family: 'neotech-regular', Arial;
    padding: 0 22px;
    border-radius: 4px;
    background: none;
    transition: all 0.25s ease;
    background: #719e19;
    color: #fff;
    outline: none !important;
}
.form-area .btn:hover,
.form-area .btn:focus,
.form-area .btn:active {
    background: none;
    border: 1px solid #719e19;
    color: #719e19;
}
#addvalues {
    margin: 18px 0 0;
    height: 34px;
}
.upload-section {
    text-align: left;
    margin: 35px 0;
}
.p0 {
    padding: 0;
}
/* input [type = file]
----------------------------------------------- */
.control-fileupload input[type="file"] {
    display: block !important;
    right: 1px;
    top: 1px;
    height: 34px;
    opacity: 0;
    width: 100%;
    background: none;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}
.control-fileupload {
    display: block;
    border: 1px solid #d6d7d6;
    background: #fff;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0px 10px 2px 10px;
    overflow: hidden;
    position: relative;
    /* File upload button */
}
.control-fileupload:before,
.control-fileupload input,
.control-fileupload label {
    cursor: pointer !important;
}
.control-fileupload:before {
    /* inherit from boostrap btn styles */
    margin-bottom: 0;
    font-size: 13px;
    color: #333333;
    border: 1px solid #719e19;
    color: #719e19;
    transition: color 0.2s ease;
    /* add more custom styles*/
    content: "Browse";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    text-align: center;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    border-radius: 5px;
}
.control-fileupload:hover:before,
.control-fileupload:focus:before {
    background-color: #719e19;
    color: #fff;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position 0.2s ease-out;
}
.control-fileupload label {
    line-height: 24px;
    color: #999999;
    font-size: 13px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    margin-right: 90px;
    margin-bottom: 0px;
    cursor: text;
    padding-top: 5px;
}
.showpdficon > .pdficon {
    display: block !important;
}
.swMain .custom-container {
    padding: 0;
    border: none;
}